<div class="nav text-center text-white sticky-top p-2 bg-custom mt-0 d-flex justify-content-between align-items-center">
    <% if user_signed_in? %>
        <h1 class="m-0">Page Admin</h1>
        <div class="d-flex align-items-center">
            <p class="m-0 me-3"><%= current_user.email %></p>
            <%= link_to 'User Details', user_details_path, class: "btn btn-primary me-2" %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
        </div>
    <% else %>
    <%= link_to root_path, style: "text-decoration: none;", class: "m-0 text-white no-underline d-flex align-items-center" do %>
        <%= image_tag 'logo.png', alt: 'MAA-Africa Logo', class: 'logo-class m-2 rounded', height: '70', width: '70' %>
        <h5 class="m-0">Menopause Awareness & Advocacy Africa</h5>
    <% end %>
        <div class="d-flex align-items-center ms-auto">
            <!-- <%= link_to 'Stories', stories_path, class: "btn btn-light m-2" %> -->
            <!-- <%= link_to 'Resources', resources_path, class: "btn btn-light m-2" %> -->
            <%= link_to 'About', about_path, class: "btn btn-light m-2" %>
            <!-- <%= link_to 'Community', community_path, class: "btn btn-light m-2" %> -->
            <!-- <%= link_to 'Sign in', new_user_session_path, class: "btn btn-dark m-2" %> -->
        </div>
    <% end %>
</div>