<h1 class="nav text-center text-white sticky-top p-2 bg-custom mt-0">User Details</h1>
<div class="container">
    <div class="text-right m-3">
        <button id="toggle-view" class="btn btn-primary">Card View</button>
    </div>
    
    <div id="table-view" style="display: block;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Contact Option</th>
                <th>Contact Details</th>
                <th>Contributions</th>
                <th>Created at</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <% @user_details.each do |user_detail| %>
                <tr>
                    <td><%= user_detail.name %></td>
                    <td><%= user_detail.contact_options %></td>
                    <td><%= user_detail.contact_details %></td>
                    <td><%= user_detail.contributions.is_a?(Array) ? user_detail.contributions.join(", ") : user_detail.contributions %></td>
                    <td>
                        <%= button_to "Delete", user_detail_path(user_detail), method: :delete, class: "bg-danger text-white px-4 py-2 rounded", data: { turbo_confirm: "Are you sure?" } %>
                    </td>
                    <td><em><small><%= user_detail.created_at.strftime("%d-%m-%Y %H:%M")%></small></em></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    
    <div id="card-view" style="display: none;">
        <div class="row">
            <% @user_details.each do |user_detail| %>
            <div class="col-md-3">
                <div class="card mb-4">
                    <h5 class="card-header"><%= user_detail.name %></h5>
                <div class="card-body">
                    <p class="card-text"><strong>Contact Option:</strong> <%= user_detail.contact_options %></p>
                    <p class="card-text"><strong>Details:</strong> <%= user_detail.contact_details %></p>
                    <p class="card-text">
                        <strong>Contribution:</strong>
                        <%= user_detail.contributions.is_a?(Array) ? user_detail.contributions.join(", ") : user_detail.contributions %>
                    </p>
                    <hr>
                    <ul class="list-group">
                        <!-- Other content -->
                    </ul>
                </div>
                <div class="card-footer">
                    <p>
                        <em><small><strong>Created at :</strong> <%= user_detail.created_at.strftime("%d-%m-%Y %H:%M")%></small></em>
                    </p>
                </div>
                </div>
                <%= button_to "Delete", user_detail_path(user_detail), method: :delete, class: "bg-danger text-white px-4 py-2", data: { turbo_confirm: "Are you sure?" } %>
            </div>
            <% end %>
        </div>
    </div>
    
    <br>
    
    <!-- <%= link_to 'New User Detail', new_user_detail_path, class: "btn btn-primary" %> -->
    
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const toggleButton = document.getElementById("toggle-view");
        const tableView = document.getElementById("table-view");
        const cardView = document.getElementById("card-view");
    
        toggleButton.addEventListener("click", function() {
            if (tableView.style.display === "block") {
            tableView.style.display = "none";
            cardView.style.display = "block";
            toggleButton.textContent = "Table View";
            } else {
            tableView.style.display = "block";
            cardView.style.display = "none";
            toggleButton.textContent = "Card View";
            }
        });
    });
</script>