<div class="container">
    <div class="text-right m-3">
        <button id="toggle-view" class="btn btn-primary">Card View</button>
    </div>
    
    <div id="table-view" style="display: block;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Contact Option</th>
                <th>Contact Details</th>
                <th>Contributions</th>
                <th>Created at</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <% @user_details.each do |user_detail| %>
                <tr>
                    <td><%= user_detail.name %></td>
                    <td><%= user_detail.contact_options %></td>
                    <td><%= user_detail.contact_details %></td>
                    <td><%= user_detail.contributions.is_a?(Array) ? user_detail.contributions.join(", ") : user_detail.contributions %></td>
                    <td><em><small><%= user_detail.created_at.strftime("%d-%m-%Y %H:%M")%></small></em></td>
                    <td>
                        <%= button_to user_detail_path(user_detail), method: :delete, class: "bg-danger text-white px-2 py-1 rounded", data: { turbo_confirm: "Are you sure?" } do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zM4.354 4.354a.5.5 0 1 1 .708-.708L8 7.293l3.938-3.937a.5.5 0 0 1 .708.708L8.707 8l3.937 3.938a.5.5 0 1 1-.708.708L8 8.707l-3.938 3.937a.5.5 0 1 1-.708-.708L7.293 8 3.354 4.062a.5.5 0 0 1 .708-.708z"/>
                            </svg>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    
    <div id="card-view" style="display: none;">
        <div class="row">
            <% @user_details.each do |user_detail| %>
            <div class="col-md-3">
                <div class="card mb-4">
                    <h5 class="card-header"><%= user_detail.name %></h5>
                <div class="card-body">
                    <p class="card-text"><strong>Contact Option:</strong> <%= user_detail.contact_options %></p>
                    <p class="card-text"><strong>Details:</strong> <%= user_detail.contact_details %></p>
                    <p class="card-text">
                        <strong>Contribution:</strong>
                        <%= user_detail.contributions.is_a?(Array) ? user_detail.contributions.join(", ") : user_detail.contributions %>
                    </p>
                    <hr>
                    <ul class="list-group">
                        <!-- Other content -->
                    </ul>
                </div>
                <div class="card-footer">
                    <p>
                        <em><small><strong>Created at :</strong> <%= user_detail.created_at.strftime("%d-%m-%Y %H:%M")%></small></em>
                    </p>
                    <%= button_to user_detail_path(user_detail), method: :delete, class: "bg-danger text-white px-2 py-1 rounded", data: { turbo_confirm: "Are you sure?" } do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zM4.354 4.354a.5.5 0 1 1 .708-.708L8 7.293l3.938-3.937a.5.5 0 0 1 .708.708L8.707 8l3.937 3.938a.5.5 0 1 1-.708.708L8 8.707l-3.938 3.937a.5.5 0 1 1-.708-.708L7.293 8 3.354 4.062a.5.5 0 0 1 .708-.708z"/>
                        </svg>
                    <% end %>
                </div>
                </div>

            </div>
            <% end %>
        </div>
    </div>
    
    <br>
    
    <!-- <%= link_to 'New User Detail', new_user_detail_path, class: "btn btn-primary" %> -->
    
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const toggleButton = document.getElementById("toggle-view");
        const tableView = document.getElementById("table-view");
        const cardView = document.getElementById("card-view");
    
        toggleButton.addEventListener("click", function() {
            if (tableView.style.display === "block") {
            tableView.style.display = "none";
            cardView.style.display = "block";
            toggleButton.textContent = "Table View";
            } else {
            tableView.style.display = "block";
            cardView.style.display = "none";
            toggleButton.textContent = "Card View";
            }
        });
    });
</script>