<!DOCTYPE html>
<html>
<head>
    <title>MAA-Africa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %> 
</head>
<body>
    <h1 class="nav text-center text-white sticky-top p-2 bg-custom mt-0">MAA-Africa</h1>
        <div class="container">
            <% if flash[:notice] %>
                <div class="alert alert-primary text-center my-3">
                    <%= flash[:notice] %>
                </div>
            <% end %>
            <h2 class="text-center my-2 p-4"><strong>Let's talk about menopause.</strong></h2>
            <h5 class="p-3 mx-5 lh-lg">
                <em>
                    Menopause, like any major life stage, is both exciting (no more periods!) and confusing. 
                    <br>
                    While I knew hot flashes were a common and well known symptom, I had many questions: How would I know for sure I had started menopause? What other changes might I experience? 
                    Everything else felt like a mystery. 
                    <br>
                    Why is no one talking about this? Well, that's what I'm doing.
                    <br>
                    Join me and let's talk about menopause!
                </em>
            </h5>
            <div class="row m-3">
            <div class="col-md-6 mb-3">
                <div class="card">  
                    <div class="card-header">
                        <h5 class="card-title p-1">‘Me and my menopause’: a view from women around the world</h5>
                    </div>     
                <div class="card-body">
                    <br>
                    <%= image_tag '5472.avif', alt: 'Naijeria and Ondiege', class: 'img-fluid rounded d-block mx-auto' %>    
                    <br>
                    <p class="card-text">My take on menopause and its impact on my health and well being.</p>
                    <a href="https://www.theguardian.com/global-development/2024/feb/07/menopause-reproductive-health-stigma-medical-treatment-information-mood-anxiety-support#kenya-we-should-normalise-talking-about-it" class="btn btn-primary" target="_blank">Read the Article</a>
                </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title p-3">Menopause Buddies Podcast</h5>
                    </div>
                <div class="card-body">

                    <br>

                    <%= image_tag 'podcast_image.jpg', alt: 'Menopause Buddies Podcast Icon', class: 'img-fluid rounded d-block mx-auto' %>
                    <br>
                    <p class="card-text">Sharing journey and intention to open dialogue around menopause in my community</p>
                    <a href="https://menopausebuddies.alitu.com/episode/1dd6a084-9f7b-4134-ad89-d112f25ac7c3" class="btn btn-primary" target="_blank">Listen to the Podcast</a>
                </div>
                </div>
            </div>
            </div>
            <h5 class="p-3 mx-5 lh-lg">
                <em>If you have read my menopause story and or listened to the podcast and you would like to help me find and 
                    share more stories of women in peri menopause, menopause or post menopause in Kenya and beyond, you are in the right place.
                    <br>
                    Fill the form below and I will reach out to you. 
                </em>
            </h5>
            <%= render partial: 'shared/register', locals: { user_detail: @user_detail } %>

        </div>
    <div class="text-center text-white sticky-bottom p-2 bg-custom mt-5">
        <em>Powered by Mama Tech</em>
    </div>
</body>
</html>
